.main{
    display: flex;
    justify-content: flex-start;
}
.wrap{
    width: 400px;
    height: 500px;
    text-align: center;
    box-shadow: 1px 3px 3px black;
    overflow: scroll;
     scrollbar-width: none; 
}
.wrap img{
    width: 100%;
    height: 250px;
}
.wrap p{
    text-align: left;
font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: medium;
}
.side{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
    width: 200px;
   box-shadow: 1px 3px 12px rgb(86, 86, 86);

}
.special{
    width: 821px;
    height: 500px;
    overflow: scroll;
    scrollbar-width: none; 
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/039/196/982/small_2x/ai-generated-indian-flag-blowing-in-the-wind-against-shiny-blue-sky-photo.jpg");
   color: #ffffff;
   font-size: large;
   background-repeat: no-repeat;
   background-size: cover;
   font-weight: 700;
  
}
.up{
    display: flex;
    flex-direction: row;
     text-align: left;
     gap: 20px;
}
.up img{
    width: 200px;
}
.content{
    color: rgb(26, 1, 1);
}